<div class="home">
    <div class="container p-4">

        <div class="row2">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>CLIENTES</h5>
                        </div>
                        <img src="assets/clientes.png" class="card-img-top" alt="..." style="height: 200px">

                        <div class="card-footer">
                            <a routerLink="/clients">
                                <td><button class="btn btn-primary">Listado</button></td>
                            </a>

                            <a routerLink="/clients/add">
                                <td><button class="btn btn-primary">Añadir Cliente</button></td>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>VEHÍCULOS</h5>
                        </div>
                        <img src="assets/carros.jpg" class="card-img-top" alt="..." style="height: 200px">

                        <div class="card-footer">
                            <a routerLink="/cars">
                                <td><button class="btn btn-primary">Listado</button></td>
                            </a>
                            <a routerLink="/cars/add">
                                <td><button class="btn btn-primary">Añadir Vehículo</button></td>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>DETALLE FACTURA</h5>
                        </div>
                        <img src="assets/detalle.png" class="card-img-top" alt="..." style="height: 200px">


                        <div class="card-footer">
                            <a routerLink="/detalles">
                                <td><button class="btn btn-primary">Listado</button></td>
                            </a>
                            <a routerLink="/detalles/add">
                                <td><button class="btn btn-primary">Añadir Detalle</button></td>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>EMPLEADOS</h5>
                        </div>
                        <img src="assets/empleados.jpg" class="card-img-top" alt="..." style="height: 200px">

                        <div class="card-footer">
                            <a routerLink="/empleados">
                                <td><button class="btn btn-primary">Listado</button></td>
                            </a>
                            <a routerLink="/empleados/add">
                                <td><button class="btn btn-primary">Añadir Empleado</button></td>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>FACTURA</h5>
                        </div>
                        <img src="assets/factura.jpg" class="card-img-top" alt="..." style="height: 200px">
                        <div class="card-footer">
                            <a routerLink="/facturas">
                                <td><button class="btn btn-primary">Listado</button></td>
                            </a>
                            <a routerLink="/facturas/add">
                                <td><button class="btn btn-primary">Añadir Factura</button></td>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>MANTENIMIENTO</h5>
                        </div>
                        <img src="assets/mantenimiento.jpg" class="card-img-top" alt="..." style="height: 200px">
                        <div class="card-footer">
                            <a routerLink="/mantenimientos">
                                <td><button class="btn btn-primary">Listado</button></td>
                            </a>
                            <a routerLink="/mantenimientos/add">
                                <td><button class="btn btn-primary">Añadir Mantenimiento</button></td>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>MÉTODOS DE PAGO</h5>
                        </div>
                        <img src="assets/pagos.jpg" class="card-img-top" alt="..." style="height: 200px">
                        <div class="card-footer">
                            <a routerLink="/pagos">
                                <td><button class="btn btn-primary">Listado</button></td>
                            </a>
                            <a routerLink="/pagos/add">
                                <td><button class="btn btn-primary">Añadir Pago</button></td>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>PEDIDO SUCURSAL</h5>
                        </div>
                        <img src="assets/pedido.jpg" class="card-img-top" alt="..." style="height: 200px">
                        <div class="card-footer">
                            <a routerLink="/pedidos">
                                <td><button class="btn btn-primary">Listado</button></td>
                            </a>
                            <a routerLink="/pedidos/add">
                                <td><button class="btn btn-primary">Añadir Pedido</button></td>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>PROVEEDORES</h5>
                        </div>
                        <img src="assets/proveedores.png" class="card-img-top" alt="..." style="height: 200px">
                        <div class="card-footer">
                            <a routerLink="/proveedores">
                                <td><button class="btn btn-primary">Listado</button></td>
                            </a>
                            <a routerLink="/proveedores/add">
                                <td><button class="btn btn-primary">Añadir Proveedor</button></td>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5>SUCURSALES</h5>
                        </div>
                        <img src="assets/concesionario.jpg" class="card-img-top" alt="..." style="height: 200px">



                        <div class="card-footer">
                            <a routerLink="/sucursales">
                                <td><button class="btn btn-primary">Listado</button></td>
                            </a>
                            <a routerLink="/sucursales/add">
                                <td><button class="btn btn-primary">Añadir Sucursal</button></td>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>