<div class="table-responsive-xl">
    <div class="titulos">
        <h4>MÉTODOS DE PAGO</h4>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Método de Pago</th>
                <th scope="col">Tiempo de Pago</th>
                <th scope="col">Editar</th>


            </tr>
        </thead>
        <tbody *ngFor="let pago of pagos; let indice=index">
            <tr>
                <th scope="row">{{indice+1}}</th>
                <td> {{pago.tipo}}</td>
                <td> {{pago.tiempo_pago}} </td>
                <td><a [routerLink]="['/pagos/edit', pago.tipo]" class="btn btn-info btn-xs">Editar</a></td>
                <!-- <td><button class="btn btn-danger" (click)="deleteCarro(pago.tipo)"><i
                            class="far fa-trash-alt"></i></button></td> -->
            </tr>
        </tbody>
    </table>
    <a routerLink="/pagos/add">
        <td><button class="btn btn-primary">Añadir Método de Pago</button></td>
    </a>
</div>
